  <aside>
    <ul class="aside-opcions">
        <li class="list activador">
            bienestar estudiatil y <br>
            servicios a la comunidad
            <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
                <li class="sublist">Servicios estudiantiles</li>
                <li class="sublist">Orientación</li>
                <li class="sublist">Comité estudiantil</li>
                <li class="sublist">Crédito educativo y becas</li>
                <li class="sublist">Dispensario médico</li>
                <li class="sublist">Laboratorio de análisis clínicos</li>
                <li class="sublist">Laboratorio de internet</li>
                <li class="sublist">Centro de servicios jurídicos</li>
                <li class="sublist">Programa Social de prevención contra las drogas</li>
                <li class="sublist">Centro de audiovisuales y multimedios</li>
                <li class="sublist">Biblioteca</li>
                <li class="sublist">Cafetería</li>
              </ul>
          </li>

          <li class="list activador">Universidad - empresa 
            <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
                <li class="sublist">Programa de intercambio internacional 2+2</li>
                <li class="sublist">Nueva Editora la Información</li>
                <li class="sublist">Agropecuaria de Investigación y Desarrollo Universitario - AIDU</li>
                <li class="sublist">Centro de Estudios Especializados - CEDESE</li>
                <li class="sublist">Clínica Universitaria de Especialidades - CUDE</li>
                <li class="sublist">Colegio Utesiano de Estudios Integrados - CUEI</li>
                <li class="sublist">Granja Avícola de Investigación y Desarrollo Universitario - GAIDU</li>
                <li class="sublist">Procesadora de Cárnicos - PRODECAR</li>
                <li class="sublist">Utesa English School - UES</li>
              </ul>
          </li>

      <li class="list activador">
        Antecedentes
        <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
          <li class="sublist">Situación geográfica</li>
          <li class="sublist">Historia</li>
          <li class="sublist">Filosofía Utesiana</li>
          <li class="sublist">Objetivos Generales</li>
          <li class="sublist">Símbolos</li>
        </ul>
      </li>
      <li class="list activador">Recintos
        <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
          <li class="sublist">recintos santiago de los caballeros</li>
          <li class="sublist">recintos santo domingo de guzman</li>
          <li class="sublist">recintos santo domingo oriental</li>
          <li class="sublist">puerto plata</li>
          <li class="sublist">moca</li>
          <li class="sublist">mao</li>
          <li class="sublist">dajabon</li>
          <li class="sublist">escuela graduados - santiago</li>
          <li class="sublist"> gaspar herandez</li>
        </ul>
      </li>
      <li class="list activador">Normativos academicos
        <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
          <li class="sublist">Admisiones</li>
          <li class="sublist">Transferencias</li>
          <li class="sublist">Re-ingreso</li>
          <li class="sublist">Pre-selección</li>
          <li class="sublist">Inscripción</li>
          <li class="sublist">Retiro de asignaturas</li>
          <li class="sublist">Colaciones y convalidaciones</li>
          <li class="sublist">Reválida de títulos</li>
          <li class="sublist">Tutorías</li>
          <li class="sublist">Sistema de evaluación</li>
          <li class="sublist">Categoría de estudiantes</li>
          <li class="sublist">Condición académica</li>
          <li class="sublist">Honores académicos</li>
        </ul>
      </li>
      <li class="list activador">Programas academicos
        <ul class="subseccion animate__animated animate__fadeInLeft animate__faster">
          <li class="sublist">Situación geográfica</li>
          <li class="sublist">Historia</li>
          <li class="sublist activador-2">Filosofía Utesiana
            <ul class="subseccion-2 animate__animated  animate__fadeInDown animate__faster">
                <li class="sublist">Situación geográfica</li>
                <li class="sublist">Historia</li>
                <li class="sublist">Filosofía Utesiana</li>
              </ul>
          </li>
        </ul>
      </li>

     </ul>
  </aside>